<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INU ON Login</title>
</head>
<body>
    <div class="wrap">
        <div class="top">
          <h1>INU ON</h1>
        </div>
        <div class="chaticon">
            <img src="chatbot.png">
        </div>
        <div class="loginbox">
            <h5>인천대학교 포털<br> 학번과 비밀번호로 로그인 해주세요</h5>
            <input type="text" id="userID" class="log-input-id" name="id" placeholder="학번">
            <input type="text" id="userPW" class="log-input-pw" name="pw" placeholder="비밀번호">
            <div>
                <button class="loginbutton" onclick="location.href='chat.html'">Login</button>
            </div>   
        </div>
    </div>   
</body>
</html>